* {
    margin: 0px;
}

body {
    height: 100vh;
    background-color: #f2ebe3;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    border-radius: 10px;
    background-color: #fff;
    max-width: 600px;
    max-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    gap: 25px;
}

.price {
    display: flex;
    gap: 50px;}

h1, h2 {font-family: "Fraunces", sans-serif;}

h3, h4, p {font-family: "Montserrat", sans-serif;}

h1 {font-weight: 700;font-size: 2rem;color: #1c232b;}

h2 {color: #3D8168;font-size: 2rem; font-weight: 700;}

h3 {font-weight: 500;letter-spacing: 3px;font-size: 0.7rem;opacity: 0.5; }

h4 {font-weight: 400;text-decoration: line-through; opacity: 0.4;font-size: 1rem;}

p {font-size: 0.9rem; font-weight: 500;opacity: 0.6; line-height: 1.6rem;}


a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    align-self: center;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #3D8168;
}
a:hover {background-color:#4db38d;}

i {margin: 0px 15px 0px 0px;}







